.loginPage{
    background: url('images/screen.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url('images/screen.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.loginForm{
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

ul li:hover{
    background-color: gray;
}

.image_employe{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.epm_det_image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.epm_det_image :hover{
    zoom: 200%;
    transform: scale(1.5); 
    transition: transform 0.9s ease-in-out;
}